@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/Poppins/Poppins-Regular.ttf') format('truetype')
}
  
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('/static/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/Poppins/Poppins-Bold.ttf') format('truetype')
}
